  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/jquery/jquery.mask.js"></script>

  <!-- Page lev/static/el plugin JavaScript-->
  <script src="/static/vendor/chart.js/Chart.min.js"></script>
  <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>
  <!-- Custom s/static/cripts for all pages-->
  <script src="/static/js/sb-admin.min.js"></script>
  <!-- Custom s/static/cripts for this page-->
  <script src="/static/js/sb-admin-datatables.min.js"></script>
  <script src="/static/js/sb-admin-charts.min.js"></script>
  <script src="/static/assets/script/snackbar.min.js"></script>
  <script src="/static/assets/script/jspdf.min.js"></script>
  <script src="/static/assets/script/html2canvas.js"></script>
  <script src="/static/assets/script/jspdf.plugin.autotable.js"></script>
</body>

</html>