<% if('users' in locals && locals.users.length > 0){ %>
<% locals.users.map(content => { %>
    <div class="modal fade" id="<%=content.COD%>" tabindex="0" role="dialog" aria-labelledby="label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="label">Aprovar?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Qual papel <%=content.NOME%> vai ter?</div>
          <div class="form-group margin_form">
              <label for="exampleSelect1">Example select</label>
              <select class="form-control" id="<%= content.DOCIND%>">
                <option>Estoque</option>
                <option>Financeiro</option>
                <option>Vendedor</option>
                <option>Comprador</option>
              </select>
            </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button onclick="updateAccount(<%=JSON.stringify(content)%>)" class="btn btn-primary">Ok</button>
          </div>
        </div>
      </div>
    </div>

<%}) %>
<%} %>

<%if('clientAlreadyExist' in locals && locals.clientAlreadyExist){%>
<div class="modal fade" id="clientAlreadyExist" tabindex="0" role="dialog" aria-labelledby="label" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="label">Aviso</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">Cliente já está cadastrado</div>
    <div class="modal-footer">
      <button data-dismiss="modal" id="btnHideModal" class="btn btn-primary">Ok</button>
    </div>
  </div>
</div>
</div>
<script>
  $(function(){
      $('#clientAlreadyExist').modal('show')
      setTimeout(()=>{
        $('#btnHideModal').trigger('click')
      }, 10000)
  })
</script>
<%}%>

<%if('errorSaveClient' in locals && locals.errorSaveClient){%>
x
<script>
  $(function(){
    $('#errorSaveClient').modal('show')
  setTimeout(()=>{
    $('#btnHideModalError').trigger('click')
  }, 10000)
  })
</script>
<%}%>


<%if('successRegisterClient' in locals && locals.successRegisterClient){%>
<div class="modal fade" id="successRegisterClient" tabindex="0" role="dialog" aria-labelledby="label" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="label">Aviso</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body" style="color:#31B006">Cliente salvo com sucesso</div>
    <div class="modal-footer">
      <button class="btn btn-primary" id="btnHideModalSucess" data-dismiss="modal">Ok</button>
    </div>
  </div>
</div>
</div>
<script>
  $(function(){
    $('#successRegisterClient').modal('show')
  setTimeout(()=>{
    $('#btnHideModalSucess').trigger('click')
  }, 10000)
  })
</script>
<%}%>