<% include ../partials/header %>
  <link href="/static/assets/style/forgotPassword.css" rel="stylesheet" />
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Recuperar senha</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <h4>Esqueceu sua senha?</h4>
          <p>Digite seu endereço de e-mail e nós lhe enviaremos instruções sobre como redefinir sua senha.</p>
        </div>
        <form action="/recuperar-senha" method="POST" onsubmit="return afterSubmit()">
          <div class="form-group">
            <input name="email" class="form-control" id="recuperarSenha" type="email" aria-describedby="emailHelp" placeholder="Informe seu email">
          </div>
          <input value="Recuperar senha" class="btn btn-primary btn-block" type="submit" />
        </form>
        <% if('success' in locals) { %>
          <div class="alert alert-success" role="alert">
            <strong>Ok,</strong> Verifique seu email!
            <button id="button_card_success" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%}%>
            <div class="text-center">
              <a class="d-block small mt-3" href="/register">Criar uma conta</a>
              <a class="d-block small" href="/login">Faça login</a>
            </div>
      </div>
      <%if('errorForgotAccount' in locals) {%>
        <div class="alert alert-warning" id="errorForgotPassword" role="alert">
          Não encontrado usuário, crie uma nova conta!
        </div>
        <script>
          setTimeout(() => {
            $('#errorForgotPassword').hide(500)
          }, 5000)
        </script>
      <%}%>
    </div>
  </div>
  <div id="messageError" class="card_error">
    <h2>Informe um email válido</h2>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/assets/script/forgotPassword.js"></script>
  <% include ../partials/footer %>