<% include ../partials/header %>
<script src="/static/vendor/jquery/jquery.min.js"></script>
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Recuperar senha</div>
      <div class="card-body">
        <form id="form_login" method="POST">
          <div class="form-group">
            <label for="password">Nova Senha:</label>
            <input name="password" required class="form-control" id="password" type="password" aria-describedby="emailHelp" placeholder="Informe senha">
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirmar Senha:</label>
            <input name="confirmPassword" required class="form-control" id="confirmPassword" type="password" placeholder="Informe senha novamente">
          </div>
          <button type="submit" form="form_login" class="btn btn-primary btn-block">Login</button>
        </form>
        <div class="alert alert-danger" id="error" style="display: none">
          <button id="btnClose" class="close">&times;</button>
          Senhas diferentes
        </div>
        <div class="text-center">
          <a class="d-block small mt-3" href="/register">Crie uma conta</a>
          <a class="d-block small" href="/login">Faça login?</a>
        </div>
      </div>
      <% if('successToChangePassword' in locals){ %>
        <div class="alert alert-primary" id="successToChangePassword">
            <button id="button_card_success"class="close">
          Senha modificada, faça login.
        </div>
        <script>
          $('#button_card_success').on('click', function(){
            $('#successToChangePassword').hide(500)
          })
          setTimeout(()=>{
            location.href = '/login'
          }, 3000)
        </script>  
      <%}%>
        </div>
  </div>

<script src="/static/assets/script/recoverPassword.js"></script>
<% include ../partials/footer %>