<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/assets/script/notFound.js"></script>
    <link href="/static/assets/style/notFound.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <div class="card_flex">
        <h1 class="title_not_found">Página não encontrada</h1>
        <h2 class="title_not_found">Redirecionando em <span style="font-size: 48px" id="time_redirect"></span> </h2>
    </div>
</body>
</html>